
#monthandyearspan {
    width: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    /*background: #00FFCC;*/
}

#monthandyear {
    vertical-align: middle;
    display: inline-block;
}


#divcalendartable {
    clear: both;
}

.daysheader {
    background: #6cecff;
    height: auto;
    text-align: center;
}



#prevmonthdates {
    background-color: #E0E0E0;
}

#nextmonthdates {
    background-color: #E0E0E0;
}

#currentmonthdates {
    background-color: #FFFFFF;
}


.swim {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: center;
    background: #445511;
    color: #F5F5F5;
    margin-bottom: 5px;
    padding: 5px;
}

.chrono {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: center;
    background: #778899;
    color: #F5F5F5;
    margin-bottom: 5px;
    padding: 5px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #53ddcb;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    font-size:150%;
}

.next {
    background-color: #f1f1f1;
    color: black;
    font-size:150%;
}


.round {
    border-radius: 50%;
}

.mytable{
    width:50%;
}
.mytr{
    height:70px;
}

.colored{
    background-color: #000776;
    color: #e2e2e2;;
}
.roundbox{
    border-radius: 50%;
    width:15%;

}
emtyroundbox{

}
