
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(0, 102, 255),rgb(0, 204, 255));
}

#logoutDiv{
    border: 1px solid #DDD;
}

.logoutInput{
    border: none;
}

.space{
    max-width: 100%;
}

.title {
    text-shadow: 2px 2px 5px blue;
    font-size: 300%;
}

.sub-title {
    text-shadow: 2px 2px 5px blue;
    font-size: 150%;
}

.text-shadow{
    font-size: large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3ba4d6;
    text-shadow: 6px 6px 9px #3192eb;
    color: #e8f3ff;
}

.customMenu  {
    background-image: linear-gradient(rgb(178, 255, 241), rgb(108, 236, 255));

}
.navbar-default .navbar-nav > .active{
    background-color:#50daff ;
    color: #e8f3ff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color:#50daff ;
    color: #e8f3ff;
}

.custom-div{
    background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 102, 255));
}

.domains{
    float: left;
}

.trainings{
    float: left;
}

.training-card{
    background-image: linear-gradient(rgb(212, 240, 255), rgb(171, 213, 255));

}