<!DOCTYPE html>
<html lang="en"/>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add training</title>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/login.css" rel="stylesheet" />

</head>
<body>
<label th:text="${result}"  > </label>

<div class="container">
    <div class="card card-container">
        <p class="title">Add contact </p>

        <form th:action="@{/addTraining}" th:object="${Contact}" method="post" class="form-signin">

            <input type="text" id="name" name="title" class="form-control" placeholder="Name" required="true" autofocus="true"/>

            <input type="text" id="address" name="title" class="form-control" placeholder="Address" required="true" autofocus="true"/>

            <input type="text" id="telefon" name="title" class="form-control" placeholder="Telephone" required="true" autofocus="true"/>

            <input type="text" id="email" name="title" class="form-control" placeholder="Email" required="true" autofocus="true"/>


                   <br/>
            <button class="btn btn-lg btn-primary btn-block btn-mybutton" type="submit">Add</button>

        </form>


    </div>
</div>


</body>
</html>